@model IEnumerable<WebApp.Models.Bug>

@{
    ViewBag.Title = "Bugs";
}

<h2>Bugs</h2>

<p>
    @Html.ActionLink("Create New", "Create", "Bugs", new { id = Url.RequestContext.RouteData.Values["id"] }, null)
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Project.ProjectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BugName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Priority)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BugDescription)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Project.ProjectName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BugName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Priority)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BugDescription)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", "Bugs", new { id=item.ID }, null) |
            @Html.ActionLink("Details", "Details", "Bugs", new { id=item.ID }, null) |
            @Html.ActionLink("Delete", "Delete", "Bugs", new { id=item.ID }, null)
        </td>
    </tr>
}

</table>
