@model IEnumerable<WebApp.Models.Bug>

@{
    ViewBag.Title = "Bugs";
}

<h2>Bugs</h2>

<p>
    @Html.ActionLink("Add Bug", "Create", "Bugs", new { id = Url.RequestContext.RouteData.Values["id"] }, null)
</p>
<table class="table">
    <tr>
        <th class="listHeader">
            Project Name
        </th>
        <th class="listHeader">
            Bug Name
        </th>
        <th class="listHeader">
            Priority
        </th>
        <th class="listHeader" style="border-right:solid">
            Description
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td class="listBody" style="padding:47px 0px">
            @Html.DisplayFor(modelItem => item.Project.ProjectName)
        </td>
        <td class="listBody" style="padding:47px 0px">
            @Html.DisplayFor(modelItem => item.BugName)
        </td>
        <td class="listBody" style="padding:47px 0px">
            @Html.DisplayFor(modelItem => item.Priority)
        </td>
        <td class="listBody" style="padding:47px 0px">
            @Html.DisplayFor(modelItem => item.BugDescription)
        </td>
        <td class="listBody" style="padding:47px 0px">
            @Html.ActionLink("Edit", "Edit", "Bugs", new { id = item.ID }, null) |
            @Html.ActionLink("Details", "Details", "Bugs", new { id = item.ID }, null) |
            @Html.ActionLink("Delete", "Delete", "Bugs", new { id=item.ID }, null)
        </td>
    </tr>
}

</table>
