@model IEnumerable<WebApp.Models.Bug>

@{
    ViewBag.Title = "Bugs";
}

<div class="row" style="margin-bottom: 20px">
    <div class="col-md-2 createBtn">
        <button type="button" title="Add Bug" class="btn btn-success" onclick="location.href='@Url.Action("Create", "Bugs", new { id = Url.RequestContext.RouteData.Values["id"] })'">
            <span class="glyphicon glyphicon-plus"></span>
        </button>
    </div>
    <div class="col-md-8 text-center">
        <h1 class="pageTitle">@Url.RequestContext.RouteData.Values["id"]</h1>
    </div>
</div>

<div class="row">
    <p class="pull-right">
        Priority:  
        @Html.ActionLink("All Priority", "Bugs", "Projects", new { id = Url.RequestContext.RouteData.Values["id"] }, null) |
        @Html.ActionLink("Low Priority", "LowPriority", "Projects", new { id = Url.RequestContext.RouteData.Values["id"] }, null) |
        @Html.ActionLink("Normal Priority", "NormalPriority", "Projects", new { id = Url.RequestContext.RouteData.Values["id"] }, null) |
        @Html.ActionLink("High Priority", "HighPriority", "Projects", new { id = Url.RequestContext.RouteData.Values["id"] }, null) |
        @Html.ActionLink("Immediate Priority", "ImmediatePriority", "Projects", new { id = Url.RequestContext.RouteData.Values["id"] }, null)
    </p>
</div>

<div class="row">
    <p class="pull-right">
        Sort By:
        @Html.ActionLink("Recent", "SortByRecent", "Projects", new { id = Url.RequestContext.RouteData.Values["id"] }, null) |
        @Html.ActionLink("Oldest", "Bugs", "Projects", new { id = Url.RequestContext.RouteData.Values["id"] }, null) | 
        @Html.ActionLink("Priority", "SortByPriority", "Projects", new { id = Url.RequestContext.RouteData.Values["id"] }, null)
    </p>
</div>

<table class="table">
    <tr>
        @*<th class="listHeader">
            @Html.DisplayNameFor(model => model.Project.ProjectName)
        </th>*@
        <th class="listHeader">
            @Html.DisplayNameFor(model => model.BugName)
        </th>
        <th class="listHeader">
            @Html.DisplayNameFor(model => model.Priority)
        </th>
        <th class="listHeader">
            @Html.DisplayNameFor(model => model.BugDescription)
        </th>
        <th class="listHeader"> </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="@item.Priority trHeight">
            <td class="listBody" style="margin-top: 50px;">
                @Html.DisplayFor(modelItem => item.BugName)
            </td>
            <td class="listBody">
                @Html.DisplayFor(modelItem => item.Priority)
            </td>
            <td class="listBody">
                @Html.DisplayFor(modelItem => item.BugDescription)
            </td>
            <td class="listBody">
                @Html.ActionLink("Edit", "Edit", "Bugs", new { id = item.ID }, new { title = "Edit Bug" }) |
                @Html.ActionLink("Details", "Details", "Bugs", new { id = item.ID }, new { title = "Bug Details" }) |
                @Html.ActionLink("Delete", "Delete", "Bugs", new { id = item.ID }, new { title = "Delete Bug" })
            </td>
        </tr>
    }

</table>