@using Microsoft.AspNet.Identity
@model IEnumerable<WebApp.Models.Project>

@{
    ViewBag.Title = "Projects";
}

<div class="row" style="margin-bottom: 20px">
    <div class="col-md-2 createBtn">
        <button type="button" title="Add Project" class="btn btn-success" onclick="location.href='@Url.Action("Create", "Projects")'">
            <span class="glyphicon glyphicon-plus"></span>
        </button>
    </div>
    <div class="col-md-8 text-center">
        <h1 class="pageTitle">Projects</h1>
    </div>
</div>

@foreach (var item in Model)
{
    <div class="container project">
        <div class="row">
            <p class="pull-right">@Html.ActionLink("x", "Delete", new { id = item.ID }, new { @class = "delete", title="Delete Project"})</p>
            <h2 class="text-center col-md-offset-1 col-md-10">
                @Html.ActionLink(item.ProjectName, "Index", "Bugs", new { id = item.ProjectName }, new { title = "View Bugs" })
            </h2>
        </div>
        <p class="text-center">@Html.DisplayFor(modelItem => item.ProjectDescription) </p>
        <p class="text-center">@Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { title = "Edit Project" })</p>
    </div>
}
