@model IEnumerable<WebApp.Models.Bug>

@{
    ViewBag.Title = "Bugs";
}

<h1 class="text-center pageTitle">@Url.RequestContext.RouteData.Values["id"]</h1>

<p class="text-center">
    @Html.ActionLink("Add Bug", "Create", "Bugs", new { id = Url.RequestContext.RouteData.Values["id"] }, null)
</p>
<p class="pull-right">
    @Html.ActionLink("Full List", "Bugs", "Projects", new { id = Url.RequestContext.RouteData.Values["id"] }, null)
</p>
<table class="table">
    <tr>
        <th class="listHeader">
            @Html.DisplayNameFor(model => model.BugName)
        </th>
        <th class="listHeader">
            @Html.DisplayNameFor(model => model.Priority)
        </th>
        <th class="listHeader">
            @Html.DisplayNameFor(model => model.BugDescription)
        </th>
        <th class="listHeader"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="@item.Priority">
            <td class="listBody">
                @Html.DisplayFor(modelItem => item.BugName)
            </td>
            <td class="listBody">
                @Html.DisplayFor(modelItem => item.Priority)
            </td>
            <td class="listBody">
                @Html.DisplayFor(modelItem => item.BugDescription)
            </td>
            <td class="listBody">
                @Html.ActionLink("Edit", "Edit", "Bugs", new { id = item.ID }, null) |
                @Html.ActionLink("Details", "Details", "Bugs", new { id = item.ID }, null) |
                @Html.ActionLink("Delete", "Delete", "Bug", new { id = item.ID }, null)
            </td>
        </tr>
    }

</table>
