@model WebApp.Models.Bug

@{
    ViewBag.Title = "Delete";
}

<h2 class="text-center pageTitle">@Model.BugName</h2>
<p class="text-center">Delete</p>
<div>
    <hr />
    <h3 class="text-center">Are you sure you want to delete this?</h3>
    <dl class="dl-horizontal">
        <dt class="topdd">
            Project
        </dt>

        <dd class="topdd">
            @Html.DisplayFor(model => model.Project.ProjectName)
        </dd>

        <dt>
            Bug Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BugName)
        </dd>

        <dt>
            Priority
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Priority)
        </dd>

        <dt>
            Description
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BugDescription)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" />
            @Html.ActionLink("Back to List", "Bugs", "Projects", new { id = Model.Project.ProjectName }, htmlAttributes: new { @class = "pull-right" })
        </div>
    }
</div>
