@model WebApp.Models.Bug

@{
    ViewBag.Title = "Details";
}

<div class="text-center">
    <h2 class="text-center pageTitle">@Model.BugName</h2>
    <h3 class="text-center">Details</h3>
    <p>@Html.ActionLink("Edit", "Edit", new { id = Model.ID })</p>
</div>

<div>
    <dl class="dl-horizontal">
        <dt class="toprow">
            @Html.DisplayNameFor(model => model.Project.ProjectName)
        </dt>

        <dd class="toprow">
            @Html.DisplayFor(model => model.Project.ProjectName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BugName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BugName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Priority)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Priority)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BugDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BugDescription)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Bugs", "Projects", new { id = Model.Project.ProjectName })
</p>
